@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    font-family: arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
body::-webkit-scrollbar-track{
    background: var(--blue);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--white);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--blue);  /* creates padding around scroll thumb */
  }
a {
    cursor: pointer;
}

#active-button {
    text-decoration: underline 2px solid var(--blue);
    cursor: default;
    transform: none;
}

.nav {
    z-index: -100;
    padding: 10px 0;
    width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--blue);
    background: var(--blue);
    box-shadow: 0 1px 5px var(--black);
    top: 0px;
    z-index: 1000;
    padding: 10px 0;
}

.container-nav {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
    background: var(--white);
    box-shadow: 0 5px 20px var(--black);
}

.logo-nav {
    display: flex;
    justify-content: center;
}

.logo-nav img {
    width: 150px;
}

.button-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-nav-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 60%;
    align-items: center;
    text-align: center;
    height: 35px;
    border-bottom: 1px solid var(--black);
}

.button-nav-container a {
    font-weight: bolder;
    text-decoration: underline 2px solid transparent;
    transition: 0.3s;
}

.button-nav-container a:hover {
    text-decoration: underline 2px solid var(--blue);
    transform: scale(1.05);
}

.sociais-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sociais-nav a {
    font-size: 25px;
    transition: 0.3s;
    margin: 5px;
}

.sociais-nav a:hover {
    transform: scale(1.1);
}

.sociais-nav #whats:hover {
    color: var(--green);
}

.sociais-nav #insta:hover {
    color: var(--purple);
}


.hamburguer-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 20px 0 0;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 30px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.button-menu {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;

    a {
        margin-top: 10px;
        font-weight: bolder;
        transition: 0.5s;
        color: var(--white);
    }

    a:hover {
        transform: scale(1.05);
        color: var(--blue);
    }

}

.menu-mobile {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: var(--black);
    width: 200px;
    display: flex;

    flex-direction: column;
    pointer-events: none;
    text-align: start;
    /* Impede interação enquanto o menu estiver fechado */
}

.menu-mobile.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    /* Permite interação quando o menu estiver aberto */
    box-shadow: -10px 0 100px var(--black);
    z-index: 150;

}

.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-bar {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}


footer{
    padding: 20px 0 0;
    background: var(--blue);
    box-shadow: 0 5px 20px var(--black);
}
.footer-container{
    padding: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    background: var(--white);
    border-radius: 2px;
    box-shadow: 0 5px 20px var(--black);
}

.contato-footer{
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.contato-footer a{
    margin: 2px 0 2px 10%;
    font-size: 18px;
    transition: 0.3s;
    font-weight: bold;

}
.contato-footer a i{
    transition: 0.3s;
}
.contato-footer a:hover{
    transform: scale(1.1);
    text-shadow: 0 1px 20px var(--black);
    #whats{
        color: var(--green);
    }
    #insta{
        color: var(--purple);
    }
    #mail{
        color: var(--blue);
    }
    #local{
        color: var(--yellow);
    }
}
.logo-footer{
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-footer img{
    width: 200px;
}
.dev{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-bottom: 10px solid var(--black);
}
.dev a img{
    width: 150px;
    transition: 0.5s;
}
.dev a img:hover{
    transform: scale(1.1);
}



.number-container-pq {
    width: 100%;
    display: flex;
    justify-content: center;
}

.number-pq {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    width: 80%;
}

.number-information-pq {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--black);
    margin-bottom: 80px;
}

.number-container-pq i {
    font-size: 40px;
}

.number-container-pq h2 {
    font-size: 20px;
    color: var(--blue);
}

.number-container-pq p {
    width: 80%;
    text-align: justify;
}

#number-final {
    border: none;
}
.line-pq {
    width: 80%;
    padding: 5px;
    border-top: 2px solid var(--black);
    margin-top: 5%;
}
#line-pq{
    display: none;
}
#industrial-pq{
    background: var(--blue);
    padding: 50px 0 0;
    i{
        color: var(--white);
    }
    h2{
        color: var(--white);
    }
    p{
        color: var(--white);
    }
}