
.back-total-ini{
    background:linear-gradient(197deg, rgba(18,149,194,1) 0%, rgba(120,194,220,1) 25%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 65%, rgba(106,188,217,1) 80%, rgba(18,149,194,1) 100%) ;
}
.inicio {
    padding: 5px;
    height: 450px;
    display: flex;
    justify-content: center;
    background-image: url(../img/bunner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 10;
}

.inicio-container {
    padding: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 1300px;
}

.container-title-inicio {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-inicio {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.title-inicio h1 {
    font-size: 40px;
}

.title-inicio p {
    font-weight: bolder;
}

.chamada-button-inicio {
    margin-top: 5%;
}



.chamada-button-inicio a {
    padding: 5px;
    font-weight: bolder;
    border-radius: 2px;
    border: 2px solid var(--blue);
    transition: 0.3s;
}

.chamada-button-inicio a:hover {
    transform: scale(1.1);
    background: var(--blue);
    box-shadow: 0 2px 10px var(--black);

}

.container-video-inicio {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.video-inicio {
    margin-bottom: -50px;
}

.video-inicio video {
    width: 500px;
    box-shadow: 0 5px 20px var(--black);
    border-radius: 5px;
}

.zion-pq {
    padding: 5px;
    display: flex;
  background-size: cover;
    background-position: center center;
    align-items: center;
    flex-direction: column;
}

.zion-pq-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 5%;
}


.container-title-pq {
    display: flex;
    justify-content: center;
}

.title-pq {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-pq h2 {
    font-size: 45px;
    width: 100%;
}

.title-pq h1 {
    font-size: 60px;
    font-weight: bolder;
    text-decoration: underline 2px solid var(--blue);
    text-align: start;
    width: 100%;
}

.title-pq p {
    font-weight: bold;
    text-align: start;
    width: 100%;
    
}

.container-check {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}
.container-check p{
    width: 80%;
    font-size: 18px;
    margin-bottom: 15px;
}









.maps{
    padding: 50px 0;
   display: flex;
   justify-content: center;
}
.maps-container{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}
.mapa{
    display: flex;
    justify-content: center;

}
.text-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-text-maps{
    display: flex;
    justify-content: start;
    width: 80%;
    border-bottom: 2px solid var(--blue);
    color: var(--black);
}
.paragrafo-text-maps{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragrafo-text-maps p{
    margin-top: 15px;
    font-size: 18px;
    width: 80%;
}
.button-local{
    width: 80%;
    margin-top: 10px;
}
.button-local a{
    border: 2px solid var(--white);
    padding: 5px;
    font-size: 20px;
    border-radius: 3px;
    font-weight: bolder;
    color: var(--white);
    transition: 0.3s;
}
.button-local a:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 5px var(--black);
    background: var(--white);
    color: var(--blue);
}
/*mapa*/
svg#svg-map {
    max-width: 100%;
    height: auto;
    width: 500px;
}

#svg-map path {
    fill: #003850;
}


#svg-map path.parana {
    fill: var(--blue);
    transition: 0.5s;
    cursor: pointer;
}
#svg-map #parana{
    cursor: pointer;
}


#svg-map text {
    fill: #fff;
    font-family: 'merriweather_sansbook';
    cursor: pointer;
    font-size: 0.6em;
    text-align: center;
}

#svg-map a {
    text-decoration: none;
    cursor: default;
}
#svg-map a text{
    cursor: default;
}

#svg-map path.parana:hover{
    fill: #7ac2da;
}
/*Mapa*/
