.industrial {
    background: linear-gradient(180deg, rgba(18, 149, 194, 1) 0%, rgba(163, 214, 231, 1) 10%, rgba(255, 255, 255, 1) 26%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 75%, rgba(163, 214, 231, 1) 90%, rgba(18, 149, 194, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.industrial-folder {
    width: 50%;
    margin-top: 100px;
}

.industrial-folder h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.industrial-folder p {
    width: 100%;
    text-align: justify;
    border-bottom: 2px solid var(--blue);
    border-top: 2px solid var(--blue);
    margin-bottom: 20px;
}

.industrial-container {
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px 0 100px 0;
}
.restricao-text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: var(--blue);
    padding: 50px 0;
}
.text-industrial{
    width: 1300px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}
.text-container-indu p{
    text-align: justify;
    width: 85%;
    font-size: 20px;
    color: var(--white);
}
.chamada{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chamada a{
    font-size: 35px;
    color: var(--white);
    margin-top: 20px;
}
.chamada h1{
    color: var(--white);
}
.produtos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding: 5px 0;
    transition: 0.3s;
    border: 2px solid transparent;
}

.produtos:hover {
    border: 2px solid var(--blue);
}

.produto-container {
    padding: 5px;
}

.img-produto {
    display: flex;
    justify-content: center;
}

.img-produto video {
    width: 95%;
    border-radius: 3px;
}

.number {
    width: 80%;
}

.number-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.number-indi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

.areas-de-industria {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.areas-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    align-items: center;
    justify-content: center;

}
.exemplos-container{
    scroll-margin-top: 200px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
}
.video-produto video{
    width: 80%;
}
.video-produto{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.areas-de-industria{
    width: 1300px;
}
.restricao-video{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.area-container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.back-container{
    width: 100%;
    display: flex;
    background: var(--blue);
    justify-content: center;
}
.area-container3 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.image-area {
    width: 90%;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 3px;
    border: 2px solid var(--blue);
}

.image-area img {
    width: 100%;
}

.text-area {
    width: 90%;
}

.text-area p {
    margin-top: 10px;
    text-align: justify;
}

.text-area h1 {
    text-decoration: underline 2px solid var(--blue);
}

@media(max-width: 730px) {
    .exemplos-container{
        grid-template-columns: 50% 50%;
        row-gap: 40px;
    }
    .text-industrial{
        display: flex;
        flex-direction: column-reverse;
    }
    .text-container-indu{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .chamada h1{
        text-align: center;
    }
    .chamada a{
        margin-bottom: 20px;
    }
    .areas-container {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .back-container{
        padding: 20px 0;
        margin: 10px 0;
    }
    .area-container2{
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
    }
   
    .text-container{
        width: 99%;
    }
    .area-container3{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .industrial-folder{
        width: 80%;
    }
    
}