
@media(max-width:930px) {
    .button-nav-container a {
        font-size: 12px;
    }

    .sociais-nav a {
        font-size: 20px;
    }

    .inicio-container {
        display: flex;
        flex-direction: column;
    }

    .title-inicio {
        align-items: center;
        margin-top: 10%;
    }

    .video-inicio {
        margin-top: 5%;
    }
   
    .zion-pq-container{
        display: flex;
        flex-direction: column;
        margin-top: 12%;
    }
    .title-pq{
        width: 90%;
    }
    .check-pq{
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .maps-container{
        display: flex;
        flex-direction: column;
    }
    .container-title-pq{
        width: 80%;
    }
    .title-pq p{
        margin-bottom: 15px;
    }
}

@media(max-width: 730px) {
    
   
    .button-nav-container {
        display: none;
    }

    .sociais-nav .contact-icon-nav {
        display: none;
    }

    .container-nav {
        grid-template-columns: 50% 40% 10%;
    }

    .hamburger {
        display: flex;
    }

    .menu-mobile {
        .button-menu {
            .button {
                margin-top: 10px;
            }
        }
    }
    .number-pq{
        grid-template-columns: 50% 50%;
    }
    #number-right{
        border: none;
    }
   
}
@media(max-width:650px){
 
    .title-inicio h1{
        font-size: 30px;
    }
    .title-inicio p {
        font-size: 10px;
    }
    .video-inicio video{
        width: 250px;
    }
    .chamada-button-inicio {
        margin-top: 10%;
    }
    .chamada-button-inicio a{
        font-size: 10px;
    }
    .container-title-pq{
        width: 100%;
    }
    .title-pq{
        width: 80%;
        text-align: center;
    }
    .title-pq h2{
        font-size: 30px;
        text-align: start;
        width: 100%;
    }
    .title-pq h1{
        font-size: 45px;
        width: 100%;
        text-align: start;
    }
    .title-pq p{
        margin-bottom: 15px;
        font-size: 10px;
        width: 100%;
    }
    .check-pq{
        width: 95%;
    }
    .check-pq p{
        font-size: 15px;
    }
    .number-pq{
        display: flex;
        flex-direction: column;
    }
    .number-information-pq{
        border: none;
        margin-bottom: 20px;
    }
    .title-text-maps{
        justify-content: center;
    }
    .paragrafo-text-maps p {
        font-size: 15px;
    }
    .footer-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .contato-footer{
        margin-top: 20px;
    }
    .contato-footer a{
        font-size: 15px;
        font-weight: normal;
    }
   .logo-footer{
    border-bottom: 2px solid var(--blue);
   } 
}

