@media(max-width:930px) {
    .button-nav-container a {
        font-size: 12px;
    }

    .sociais-nav a {
        font-size: 20px;
    }

    .inicio-container {
        display: flex;
        flex-direction: column;
    }

    .title-inicio {
        align-items: center;
        margin-top: 30%;
    }

    .video-inicio {
        margin-top: 5%;
    }
}

@media(max-width: 730px) {
    .button-nav-container {
        display: none;
    }

    .sociais-nav .contact-icon-nav {
        display: none;
    }

    .container-nav {
        grid-template-columns: 50% 40% 10%;
    }

    .hamburger {
        display: flex;
    }

    .menu-mobile {
        .button-menu {
            .button {
                margin-top: 10px;
            }
        }
    }
}
@media(max-width:650px){
    .title-inicio{
        margin-top: 40%;
    }
    .title-inicio h1{
        font-size: 30px;
    }
    .title-inicio p {
        font-size: 10px;
    }
    .video-inicio video{
        width: 250px;
    }
    .chamada-button-inicio {
        margin-top: 10%;
    }
    .chamada-button-inicio a{
        font-size: 10px;
    }
}